.contenedor{
    background-image: url(tiger.jpg);
    min-height: 180 px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
.caja{
    font-size: 60px;
    background-color: aliceblue;
    padding-left: 100px;
}
table{
    width: 800px;
    border: 1px solid #000;
    border-radius: 25px;
}
h1{
    color:rgb(255, 206, 47);
    font-family: cursive;
    text-decoration: dashed;
    padding-top: 10pc;  
    font-size: 50px; 
}
ol{
    color:cornflowerblue ;
    border-top:maroon;
}